PORT=3000
ALLOWED_FRONTEND_ORIGIN=http://localhost:5173
SPOONACULAR_URL=https://api.spoonacular.com
SPOONACULAR_API_KEY="your-spoonacular-api-key"
JWT_ACCESS_SECRET="your-jwt-access-secret"
JWT_ACCESS_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=30d
DATABASE_URL="your-database-url"
